
.App {
  height: 100%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-header {
  height: 80px;
  line-height: 70px;
  background-color: #2C548F;
  color: white;
  font-weight: bold;
  font-size: 32px;
  padding: 0px 24px;
  vertical-align: middle;
}
